:root {
  --clr-kt-green: #006748;
  --clr-kt-lightgreen: #00ac7b;
  --clr-kt-gold: #b58500;
  --clr-kt-black: #131517;
  --clr-kt-white: #f5f5f5;
  --clr-kt-gray: #76896e;
  --mp5: 100px;
  --mp4: 80px;
  --mp3: 60px;
  --mp2: 40px;
  --mp1: 20px;
}
body {
  margin: 0;
  padding: 0;
}
.header {
  background-color: var(--clr-kt-white);
  color: var(--clr-kt-black);
  width: calc(100% - 60px);
  float: left;
  padding: 30px;
  text-align: center;
}
.header .logo img {
  width: 100%;
  max-width: 300px;
}
.header .navbar {
  list-style: none;
  padding: 0;
}
.header .navbar .nav-menu .nav-item {
  display: inline;
  margin: 0 5px;
}
.header .navbar .nav-menu .nav-item .nav-link {
  text-decoration: none;
  color: var(--clr-kt-white);
  background-color: var(--clr-kt-green);
  padding: 5px 15px;
  border-radius: 3px;
  box-shadow: 1px 2px 5px var(--clr-kt-gray);
}
.header .navbar .nav-menu .nav-item .nav-link:hover {
  background-color: var(--clr-kt-gold);
}
.slider {
  width: 100%;
  float: left;
}
.slider img {
  width: 100%;
}
.content {
  width: calc(100% - var(--mp5));
  padding: 0 50px;
  float: left;
}
.content .products,
.content .products .section-content,
.content .blogs,
.content .blogs .section-content {
  width: 100%;
  float: left;
}

.content .products .section-content .product-item {
  width: calc(25% - 20px);
  float: left;
  padding: 10px;
}

.content .products .section-content .product-item img {
  width: 100%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
.content .products .section-content .product-item h3 {
  color: var(--clr-kt-green);
}

.content .blogs .section-content .blog-item {
  width: calc(50% - 20px);
  padding: 10px;
  float: left;
}
.content .blogs .section-content .blog-item img {
  width: 50%;
  float: left;
}
.content .blogs .section-content .blog-item .blog-content {
  float: left;
  width: calc(50% - 20px);
  padding-left: 20px;
}
.content .blogs .section-content .blog-item .blog-content h3 {
  color: var(--clr-kt-green);
}
.content .blogs .section-content .blog-item .blog-content span {
  color: var(--clr-kt-gold);
  font-size: 10px;
}
.content .blogs .section-content .blog-item .blog-content p {
  color: var(--clr-kt-black);
  font-size: 12px;
}

.footer {
  width: 100%;
  float: left;
  background-color: var(--clr-kt-black);
  color: var(--clr-kt-white);
}
.footer .footer-about,
.footer .footer-sitemap,
.footer .footer-social-media,
.footer .footer-contact {
  width: calc(25% - 40px);
  padding: 20px;
  float: left;
  min-height: 180px;
}
.footer .footer-about img {
  width: 75%;
  max-width: 300px;
}
.footer .footer-about h4 {
  margin-top: 10px;
  color: var(--clr-kt-gray);
}
.footer .footer-about p {
  font-size: 12px;
  color: var(--clr-kt-gray);
}

.footer .footer-sitemap .sitemap-menu,
.footer .footer-social-media .social-media-menu {
  list-style: none;
  padding: 0;
}
.footer .footer-sitemap .sitemap-menu .menu-item,
.footer .footer-social-media .social-media-menu .menu-item {
  margin-bottom: 5px;
}
.footer .footer-sitemap .sitemap-menu .menu-item a,
.footer .footer-social-media .social-media-menu .menu-item a {
  text-decoration: none;
  color: var(--clr-kt-white);
}
.footer .footer-sitemap .sitemap-menu .menu-item a:hover,
.footer .footer-social-media .social-media-menu .menu-item a:hover {
  color: var(--clr-kt-gold);
}

.footer .footer-contact table {
  text-align: left;
  font-size: 12px;
}
.footer .footer-contact table tr th {
  color: var(--clr-kt-gold);
}
.footer .footer-contact table tr td:first-of-type {
  color: var(--clr-kt-gold);
}
.footer h3 {
  color: var(--clr-kt-green);
}

/* ------------------- */

.head {
  background-color: var(--clr-kt-green);
}
.head h1 {
  text-align: center;
  color: var(--clr-kt-white);
}
.about {
  width: 60%;
  margin: 0 auto;
}
.about .about-content {
  margin-top: 20px;
  text-align: left;
  background-color: var(--clr-kt-white);
}
.about .about-team {
  float: left;
  width: 100%;
}
.about .about-team h3 {
  color: var(--clr-kt-gold);
  text-align: left;
  margin: 15px 0;
}
.about .about-team-member {
  float: left;
  width: calc(50% - 60px);
  padding: 10px;
  margin: 20px;
  color: var(--clr-kt-black);
  text-decoration: none;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.about .about-team-member:hover {
  background-color: var(--clr-kt-gold);
}
.about .about-team-member img {
  width: 100%;
  padding: 0;
}
.about .about-team-member .job {
  font-size: 8px;
  color: var(--clr-kt-gray);
}
.galery-content {
  width: 60%;
  margin: 20px auto;
  padding: 10px 30px;
  text-align: center;
}
.galery-item {
  float: left;
  width: calc(33% - 80px);
  padding: 10px 20px;
  margin: 20px;
  color: var(--clr-kt-black);
  text-decoration: none;
  background-color: var(--clr-kt-white);
}
.galery-item i {
  font-size: 20px;
}
.galery-item .galery-head {
  margin-top: 30px;
  margin-bottom: 30px;
}
.galery-item .galery-text {
  font-size: 14px;
  color: var(--clr-kt-gold);
  text-align: left;
}
.galery-item:hover {
  background-color: var(--clr-kt-black);
  color: var(--clr-kt-white);
}
.galery-item:hover i {
  color: var(--clr-kt-gold);
}
.contact {
  width: 60%;
  margin: 0 auto;
}
.contact .contact-form,
.info-adress {
  width: calc(50% - 24px);
  margin: 10px;
  float: left;
}
.contact .contact-form table {
  width: 100%;
  text-align: left;
}

.contact .contact-form table input,
.contact .contact-form table textarea {
  border: none;
  background-color: rgba(128, 128, 128, 0.197);
  padding: 4px;
}
.contact .contact-form table textarea {
  width: 100%;
}
.contact .info-adress,
.contact .info {
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 3px;
}
.contact .info-adress .info {
  padding: 5px;
}
.contact .map iframe {
  width: 100%;
  border-radius: 3px;
}

@media screen and (max-width: 1024px) {
  .content .products .section-content .product-item {
    width: calc(50% - 20px);
  }
  .content .blogs .section-content .blog-item {
    width: calc(100% - 20px);
  }
  .about .about-content {
    font-size: 14px;
  }
  .about .about-team-member {
    width: calc(100% - 60px);
  }
  .galery-content {
    width: 80%;
  }
  .galery-content .galery-item .galery-text {
    font-size: 8px;
  }
  .galery-item .galery-head {
    margin: 5px;
  }
  .contact .contact-form,
  .contact .contact-form table tbody input,
  .info-adress {
    width: calc(100% - 24px);
    margin: 10px;
    padding: 10px;
    float: none;
  }
  .contact .contact-form table {
    width: 100%;
    text-align: left;
  }
  .footer .footer-about,
  .footer .footer-sitemap,
  .footer .footer-social-media,
  .footer .footer-contact {
    width: calc(100% - 40px);
    padding: 20px;
    float: none;
  }
}
@media screen and (max-width: 768px) {
  .content .products .section-content .product-item {
    width: calc(100% - 20px);
  }
  .content .blogs .section-content .blog-item {
    width: calc(100% - 20px);
  }
  .content .blogs .section-content .blog-item img {
    width: 100%;
  }
  .content .blogs .section-content .blog-item .blog-content {
    width: 100%;
  }
  .galery-content .galery-item .galery-text {
    font-size: 10px;
  }
  .galery-item {
    width: calc(100% - 80px);
  }
  .galery-item .galery-head {
    margin: 5px;
  }
  .footer .footer-about,
  .footer .footer-sitemap,
  .footer .footer-social-media,
  .footer .footer-contact {
    width: calc(100% - 40px);
    padding: 20px;
    float: left;
  }
  .header .navbar .nav-menu .nav-item {
    display: flex;
    margin: 15px 5px;
  }
  .header .navbar .nav-menu .nav-item .nav-link {
    width: 100%;
    text-align: left;
  }
  .header {
    width: calc(100% - 20px);
    padding: 10px;
  }
}
/* -------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.button {
  text-decoration: none;
  color: var(--clr-kt-white);
  background-color: var(--clr-kt-green);
  padding: 5px 15px;
  border-radius: 3px;
  box-shadow: 1px 2px 5px var(--clr-kt-gray);
}
.button:hover {
  background-color: var(--clr-kt-gold);
}
.m5 {
  margin: var(--mp5);
}
.mb5 {
  margin-bottom: var(--mp5);
}
.mt5 {
  margin-top: 100px;
}
.ms5 {
  margin-left: var(--mp5);
}
.me5 {
  margin-right: 100px;
}
.m4 {
  margin: var(--mp4);
}
.mb4 {
  margin-bottom: var(--mp4);
}
.mt4 {
  margin-top: 100px;
}
.ms4 {
  margin-left: var(--mp4);
}
.me4 {
  margin-right: 100px;
}
.m3 {
  margin: var(--mp3);
}
.mb3 {
  margin-bottom: var(--mp3);
}
.mt3 {
  margin-top: 100px;
}
.ms3 {
  margin-left: var(--mp3);
}
.me3 {
  margin-right: 100px;
}
.m2 {
  margin: var(--mp2);
}
.mb2 {
  margin-bottom: var(--mp2);
}
.mt2 {
  margin-top: 100px;
}
.ms2 {
  margin-left: var(--mp2);
}
.me2 {
  margin-right: 100px;
}
.m1 {
  margin: var(--mp1);
}
.mb1 {
  margin-bottom: var(--mp1);
}
.mt1 {
  margin-top: 100px;
}
.ms1 {
  margin-left: var(--mp1);
}
.me1 {
  margin-right: 100px;
}
.p5 {
  padding: var(--mp5);
}
.pb5 {
  padding-bottom: var(--mp5);
}
.pt5 {
  padding-top: 100px;
}
.ps5 {
  padding-left: var(--mp5);
}
.pe5 {
  padding-right: 100px;
}
.p4 {
  padding: var(--mp4);
}
.pb4 {
  padding-bottom: var(--mp4);
}
.pt4 {
  padding-top: 100px;
}
.ps4 {
  padding-left: var(--mp4);
}
.pe4 {
  padding-right: 100px;
}
.p3 {
  padding: var(--mp3);
}
.pb3 {
  padding-bottom: var(--mp3);
}
.pt3 {
  padding-top: 100px;
}
.ps3 {
  padding-left: var(--mp3);
}
.pe3 {
  padding-right: 100px;
}
.p2 {
  padding: var(--mp2);
}
.pb2 {
  padding-bottom: var(--mp2);
}
.pt2 {
  padding-top: 100px;
}
.ps2 {
  padding-left: var(--mp2);
}
.pe2 {
  padding-right: 100px;
}
.p1 {
  padding: var(--mp1);
}
.pb1 {
  padding-bottom: var(--mp1);
}
.pt1 {
  padding-top: 100px;
}
.ps1 {
  padding-left: var(--mp1);
}
.pe1 {
  padding-right: 100px;
}
